@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #3fe31e;
  background-image: linear-gradient(
    319deg,
    #7eca6f 0%,
    #b6f06b 37%,
    #82a586 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}
.heading1 {
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  font-size: 50px;
  margin: 50px auto;
}
#t {
  font-size: 30px;
  display: block;
  margin: auto;
  width: 500px;
  height: 50px;
  background-color: #81dcdf;
  font-family: 'Mouse Memoirs', sans-serif;
  text-align: center;

}
input:valid {
  /* font-size: ; */
  font-weight: normal;
  color: green;
}
input:invalid {
  /* font-size: large; */
  font-weight: normal;
  color: red;
}
button:hover {
  transition-duration: 400ms;
  scale: 1.2;
}
#b1 {
  background-color: rgba(19, 134, 211, 0.799);
  width: 175px;
  font-size: 25px;
  border: none;
  border-radius: 3px;
  display: block;
  text-align: center;
  margin: 50px auto;
}
#create {
  text-align: center;
  margin: 30px auto;
  background-color: #560676;
  transition-delay: 450ms;
  transition-duration: 450ms;
}
